body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.text-highlight{
    color: tomato;
}
.half-width{
    width: 35%;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 2%;
    text-align: justify;

}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}